bin/
obj/
[Tt]est[Rr]esults/
*.user
*.suo
*.userprefs
*.cache
*.log
*.vspscc
*.vssscc
*.pdb
*.dll
*.exe
*.app

.vscode/

.idea/

*.nupkg
*.snupkg
packages/
project.lock.json

*.psess
*.vsp
*.vsix

.DS_Store
.AppleDouble
.LSOverride

._*

Icon

.Spotlight-V100
.Trashes
.VolumeIcon.icns

*.swp
*~

*.log

*.env